.repair-page {
	font-family: PingFangSC-Medium, Microsoft YaHei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
	
    .service-section {
	    &:nth-child(1) {
		    border-top: 1px solid #f3f5f9;
	    }
		background-color: #fff;
		padding: 15px 9px 15px 14px;
		.first-line {
			font-size: 14px;
			display: flex;
			justify-content: space-between;
			.service-status-finish {
				font-size: 12px;
				display: inline-block;
				width:55px;
				height: 19px;
				background-color: #d9faf2;
				color: #25d096;
				text-align: center;
				border-radius: 1px;
			}
			.service-status-passtime {
				font-size: 12px;
				display: inline-block;
				width:55px;
				height: 19px;
				background-color: #fceeeb;
				color: #fd8369;
				text-align: center;
				border-radius: 1px;
			}
			.service-status-doing {
				font-size: 12px;
				display: inline-block;
				width:55px;
				height: 19px;
				background-color: #e3f0ff;
				color: #328bf8;
				text-align: center;
				border-radius: 1px;
			}
			.service-status-aseess {
				font-size: 12px;
				display: inline-block;
				width:55px;
				height: 19px;
				background-color: #eff0f0;
				color: #a3a3a3;
				text-align: center;
				border-radius: 1px;
			}
		}
		.second-line {
			font-size: 12px;
			color: #95a2af;
			padding-top: 10px;
		}
		.third-line {
			font-size: 12px;
			color: #95a2af;
			padding-top: 8px;
		}
    }
	.divide-line {
		height: 5px;
		background-color: #f3f5f9;
	}
}