.recommend-page {
	padding: 15px 15px 0 15px;
	.topline {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.topline-left {
			.hot {
				font-size: 15px;
			    &:before {
				    content: '|';
				    width: 3px;
				    height: 15px;
				    color: #5AA4F8;
					padding-right: 5px;
			    }
			}
		}
		.topline-right {
			font-size: 12px;
			color: #A4ADBB;
			display: flex;
			align-items: center;
			.repeat {
			    width: 14px;
			    height: 14px;
			    margin-right: 5px;
			}
		}
	}
	.hot-content {
		ul {
		    li {
			    font-size: 13px;
			    color: #95A2AF;
			    margin-top: 14px;
			    &:before {
				    content: '·';
				    color: #5AA4F8;
				    border-radius: 2px;
				    padding-right: 5px;
			    }
			    img {
				    vertical-align: -2px;
					float: right;
			    }
		    }
		}
	}
}