.islider-page {
    position: relative;
    .banner-wrap {
        height: 169px;
        position: relative;
        .islider-btn-outer {
            opacity: 0.5;
            background-color: #000;
        }
        .left {
            left: 0 !important;
            width: 13px !important;
            height: 29px !important;
            .islider-btn-inner {
                width: 8px !important;
                height: 8px !important;
                left: 4px !important;
            }
        }
        .right {
            right: 0 !important;
            width: 13px !important;
            height: 29px !important;
            .islider-btn-inner {
                width: 8px !important;
                height: 8px !important;
                right: 4px !important;
            }
        }
    }
    .title-bar {
        position: absolute;
        width: 100%;
        top: 134px;
        height: 35px;
        line-height: 35px;
        background-color: #1d2226;
        opacity: 0.65;
        font-size: 14px;
        color: #fff;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }
}
